<hr>
<blockquote class="page-copyright">
  <span><i class="md-icon">build</i>Most recent change: </span><span class="facts_modified"></span>, <a class="edit_history">View
    Change
    Log</a><br>
  <span><i class="md-icon">edit</i>Find an error or missing stuff? <a href="{{ page.edit_url }}" title="{{ lang.t('edit.link.title') }}" class="page_edit_url">Edit on Github！</a></span><br>
  <span><i class="md-icon">people</i>Page Contributer(s): </span><span class="page_contributors"></span><br>
  <span><i class="md-icon">copyright</i>Copyright: <strong>{{ config.extra.copyright }}</strong>. Please use with care.</span>
</blockquote>
<script>
let baseRepo = '{{ config.repo_name }}'
const parser = document.createElement("a")
parser.href = document.URL
let url = parser.pathname
const api = `https://api.github.com/repos/${baseRepo}/commits`
const commit = `https://github.com/${baseRepo}/commits/master`
let script = document.createElement("script")
function foo(response) {
  let data = response.data
  var num = response.data.length
  if (data && data[0]) {
    let ti = new Date(data[0].commit.author.date).toLocaleString("en-US")
    var author_list = []
    for (let i = 0; i < num; ++i) {
      author_list.push(data[i].author.login)
    }
    let cnts = author_list.reduce((obj, val) => {
      obj[val] = (obj[val] || 0) + 1;
      return obj;
    }, {})
    //Use the keys of the object to get all the values of the array
    //and sort those keys by their counts
    var sorted = Object.keys(cnts).sort((a, b) => {
      return cnts[b] - cnts[a];
    })
    // var index = sorted.indexOf('24OI-bot');
    // if (index > -1) {
    //   sorted.splice(index, 1);
    // }
    sorted = sorted.map((x) => {
      return `<a href=https://github.com/${x}>${x}</a>`
    })
    document.getElementsByClassName("facts_modified")[0].innerHTML = (ti)
    document.getElementsByClassName("page_contributors")[0].innerHTML = (sorted.join(", "))
  } else if (!url.endsWith("index")) {
    url += "/index";
    let script = document.createElement("script")
    document.getElementsByClassName("edit_history")[0].setAttribute("href", `${commit}/docs/${url}.md`)
    script.src = `${api}?path=docs/${url}.md&callback=foo`
    document.getElementsByTagName("head")[0].appendChild(script)
  }
}
if (url === "/") {
  // HomePage
  document.getElementsByClassName("edit_history")[0].setAttribute("href", `${commit}/docs/index.md`)
  script.src = `${api}?path=docs/index.md&callback=foo`
  document.getElementsByTagName("head")[0].appendChild(script)
} else if (url != "404.htm") {
  document.getElementsByClassName("edit_history")[0].setAttribute("href", `${commit}/docs/${url}.md`)
  script.src = `${api}?path=docs/${url}.md&callback=foo`
  document.getElementsByTagName("head")[0].appendChild(script)
} else {
  document.getElementsByClassName("edit_history")[0].setAttribute("href", `${commit}`)
  document.getElementsByClassName("facts_modified")[0].innerHTML = ("No change on this page recently.")
  document.getElementsByClassName("page_contributors")[0].innerHTML = ("This page is generated automatically.")
  document.getElementsByClassName("page_edit_url")[0].setAttribute("href", "#")
}
</script>
